<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ảnh đẹp Hà Nội đêm trở gió</title>
</head>
<body>
<img style="width: 200px; height: 200px" id="img-of-the-day">
<form action="">
  <div class="item">
    <input type="number" min="1" max="5">
  </div>
  <div class="item">
    <p>Author</p>
    <input type="text">
  </div>
  <div class="item">
    <p>Feedback</p>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <button type="submit">Comment</button>
</form>

<table>
  <tr>
    <td>
<!--      Point-->
    </td>
    <td>
<!--      Comment-->
    </td>
    <td>
<!--      Like-->
    </td>
  </tr>
</table>


<script>
  let query = 'https://api.nasa.gov/planetary/apod?api_key=lGg6Boh2zjLu5YcRPqvQ4RI6iHfwF9jTQJm9MEJz';
  let request = new XMLHttpRequest();
  request.open('GET', query);
  request.onload = function() {
    if (request.status === 200) {
      let response = JSON.parse(request.responseText);
      document.getElementById('img-of-the-day').setAttribute('src', response.url);
    }
  };
  request.send();
</script>
</body>
</html>