<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1><a href="/blog">To Blog</a></h1>
<h1><a href="/category">To Category</a></h1>
<table>
    <th:block th:each="blog : ${listBlog}">
        <tr>
            <td>
                <p>Category: <span th:text="${blog.getCategory().categoryName}"></span></p>
            </td>
            <td th:text="${blog.getContent()}">
                <!--            title-->
            </td>
            <td th:text="${blog.getContent()}">
                <!--            content-->
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>